<div class="col-md-8 col-md-offset-2">
<form name="international_shipment">
<div class='form-group'>
    <div class='col-sm-6'>
        SSCC <br>  <input type="text">
    </div>
    <div class='col-sm-6'>
        <span id="vacc"> Item<br>

            <select>
                <option>Vaccine 1</option>
                <option>Vaccine 2</option>
                <option>Vaccine 3</option>
            </select>
        </span>
    </div>
</div>
<div class='form-group'>
    <div class='col-sm-6'>
        Manufacture Date <br>
        <input type="text">
    </div>
    <div class='col-sm-6'>
        Expiry Date <br>
        <input type="text">
    </div>
    <script>
        $(".dat").datepicker({
            dateFormat:"yy-mm-dd"
        });
    </script>
</div>
<div class='form-group'>
    <div class='col-sm-6'>
        Lot Number <br>
        <input type="text">
    </div>
    <div class='col-sm-6'>
        Quantity(Number of Doses) <br>
        <input type="text">
    </div>
</div>


<div id="output"></div>
<div class='col-sm-12 form-group text-center'>
    <button>Submit</button>
    <button type="clear">Clear</button>
</div>
</form>
</div>