<script>
    $("a#AllDefault").trigger("click");
</script>
<div class="col-md-12 app-form">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="">
                <a href="#pending" data-toggle="tab" ng-click="tabToggle('pending')">
                    Pending
                </a>
            </li>
            <li class="">
                <a href="#received" data-toggle="tab" ng-click="tabToggle('received')">
                   Received
                </a>
            </li>
            <li >
                <a href="#all" data-toggle="tab" id="AllDefault" ng-click="tabToggle('all')">
                    All
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="all">
                <div xmlns="http://www.w3.org/1999/html" class="ng-scope">
                    <h2>
                        <span id="preAdviceLabelPending" ng-if="pending">Pending</span>
                        <span id="preAdviceLabelReceived" ng-if="received" >Received</span>
                        <span id="preAdviceLabelAll" ng-if="all" >All</span>
                        <a id="preAdviceAddNew" href="#" role="button" data-toggle="modal" class="pull-right btn btn-primary" ng-click="toggleFormAndTable('addNew')" openlmis-message="button.add.new">Add New</a>
                    </h2>

                </div>
                <!--ng-if="viewForm"-->
                <!--ng-if="editForm"-->
                <!--ng-if="viewTable"-->
                <!--Add More Package form-->
                <div class='form-row clearfix'  id="viewForm" >
                    <form name="international_shipment">
                        <div class='form-group'>
                            <!--<h3 openlmis-message="label.basicInformation">International Shipment</h3>-->
                            <h3 >International Shipment</h3>
                            <!--SSCC-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Shipment Id</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" ng-model="package.shipment_id">
                                    </div>
                                </div>
                            </div>
                            <!--Item-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Item</label>
                                    <div class="form-field">
                                        <select  class="form-control" ng-model="vaccine_id"  ng-change="pullPackaging(vaccine_id)">
                                            <option ng-repeat="vaccine in vaccines.vaccines" value="{{vaccine.id}}">{{vaccine.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class='form-row clearfix' ng-if="gtinSelect">
                                <!--vaccine_packagings-->
                                <div class="form-cell">
                                    <label>GTIN</label>
                                    <div class="form-field">
                                        <select  class="form-control" ng-model="package.vaccine_packaging_id" >
                                            <option ng-repeat="vaccine in packaging.vaccine_packagings"  value="{{vaccine.id}}">{{vaccine.gtin}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--Manufacture Date-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Manufacture Date</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" ng-model="package.manufacture_date" ui-date="{dateFormat: 'yy-mm-dd', changeYear: true}">
                                    </div>
                                </div>
                            </div>
                            <!--Expiry Date-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Expiry Date</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" ng-model="package.expiry_date" ui-date="{dateFormat: 'yy-mm-dd', changeYear: true}">
                                    </div>
                                </div>
                            </div>
                            <!--Lot Number-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Lot Number</label>
                                    <div class="form-field">
                                        <input type="text" ng-model="package.lot_number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!--Quantity(Number of Doses)-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Quantity(Number of Doses)</label>
                                    <div class="form-field">
                                        <input type="text" ng-model="package.number_of_doses" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell horizontalFilters">
                            <label>&nbsp;</label>
                            <div class="form-fields">
                                <input class="btn btn-danger" type="button" value="Cancel" ng-click="cancelAddpackage(package)" id="cancel_package_package"/>
                            </div>
                        </div><div class="form-cell horizontalFilters">
                        <label>&nbsp;</label>
                        <div class="form-fields">
                            <input class="btn btn-primary" type="button" value="Add" ng-click="addPackage(package)" id="add_package_button"/>
                        </div>
                    </div>
                    </form>
                </div>
                <!--Add More Package form-->
                <div class='form-row clearfix'  id="editForm">
                    <form name="international_shipment">
                        <div class='form-group'>
                            <!--<h3 openlmis-message="label.basicInformation">International Shipment</h3>-->
                            <h3 >International Shipment Edit Package</h3>
                            <!--SSCC-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Shipment Id</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" ng-model="editPackage.shipment_id">
                                    </div>
                                </div>
                            </div>
                            <!--Item-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Item</label>
                                    <div class="form-field">
                                        <select  class="form-control" ng-model="vaccine_id"  ng-change="pullPackaging(vaccine_id)">
                                            <option ng-repeat="vaccine in vaccines.vaccines" value="{{vaccine.id}}">{{vaccine.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class='form-row clearfix' ng-if="gtinSelect">
                                <!--vaccine_packagings-->
                                <div class="form-cell">
                                    <label>GTIN</label>
                                    <div class="form-field">
                                        <select  class="form-control" ng-model="editPackage.vaccine_packaging_id" >
                                            <option ng-repeat="vaccine in packaging.vaccine_packagings"  value="{{vaccine.id}}">{{vaccine.gtin}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--Manufacture Date-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Manufacture Date</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" ng-model="editPackage.manufacture_date" ui-date="{dateFormat: 'yy-mm-dd', changeYear: true}">
                                    </div>
                                </div>
                            </div>
                            <!--Expiry Date-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Expiry Date</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" ng-model="editPackage.expiry_date" ui-date="{dateFormat: 'yy-mm-dd', changeYear: true}">
                                    </div>
                                </div>
                            </div>
                            <!--Lot Number-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Lot Number</label>
                                    <div class="form-field">
                                        <input type="text" ng-model="editPackage.lot_number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!--Quantity(Number of Doses)-->
                            <div class='form-row clearfix'>
                                <div class="form-cell">
                                    <label>Quantity(Number of Doses)</label>
                                    <div class="form-field">
                                        <input type="text" ng-model="editPackage.number_of_doses" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell horizontalFilters">
                            <label>&nbsp;</label>
                            <div class="form-fields">
                                <input class="btn btn-danger" type="button" value="Cancel" ng-click="cancelEditpackage(editPackage)" id="cancel_edit_package"/>
                            </div>
                        </div><div class="form-cell horizontalFilters">
                        <label>&nbsp;</label>
                        <div class="form-fields">
                            <input class="btn btn-primary" type="button" value="Edit" ng-click="updatePackage(package.id,editPackage)" id="update_package_button"/>
                        </div>
                    </div>
                    </form>
                </div>
                <!--Add More Package form-->
                <div class='form-row clearfix'  id="viewTable">

                    <table class="table-bordered table table-striped ng-scope" >
                            <thead>
                            <tr class="gradient-header">
                                <th  style="text-align: center">No.</th>
                                <th  style="text-align: center">Shipping Number</th>
                                <th  style="text-align: center">GTN</th>
                                <th  style="text-align: center">Manufacturer</th>
                                <th  style="text-align: center">Name</th>
                                <th  style="text-align: center">Lot Number</th>
                                <th  style="text-align: center">Number Of Doses</th>
                                <th  style="text-align: center">Expiry</th>
                                <th  style="text-align: center">status</th>
                                <th  style="text-align: center">action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="filtering" ng-repeat="package in packagesJson | filter:{delivery_status:status} ">
                                <td style="text-align: center">{{$index+1}}.</td>
                                <td>{{package.shipment_id}}</td>
                                <td>{{package.vaccine_packaging.gtin}}</td>
                                <td>{{package.vaccine_packaging.manufacturer.name}}</td>
                                <td>{{package.vaccine}}</td>
                                <td>{{package.lot_number}}</td>
                                <td>{{package.number_of_doses}}</td>
                                <td>{{package.expire_date}}</td>
                                <td>{{package.delivery_status}}</td>
                                <td>
                                    &nbsp;
                                    &nbsp;
                                    <a  style="color:orange;cursor: pointer;" ng-click="editPackage(package.id,package)"><i class="icon-pencil "></i></a>
                                    &nbsp;
                                    &nbsp;
                                    <a  style="color:red;cursor: pointer;" ng-click="deletePackage(package.id,package)"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            <tr ng-if="all" ng-repeat="package in packagesJson">

                                <td style="text-align: center">{{$index+1}}.</td>
                                <td>{{package.shipment_id}}</td>
                                <td>{{package.vaccine_packaging.gtin}}</td>
                                <td>{{package.vaccine_packaging.manufacturer.name}}</td>
                                <td>{{package.vaccine.name}}</td>
                                <td>{{package.lot_number}}</td>
                                <td>{{package.number_of_doses}}</td>
                                <td>{{package.expire_date}}</td>
                                <td>{{package.delivery_status}}</td>
                                <td>
                                    &nbsp;
                                    &nbsp;
                                    <a  style="color:orange;cursor: pointer;" ng-click="editPackage(package.id,package)"><i class="icon-pencil "></i></a>
                                    &nbsp;
                                    &nbsp;
                                    <a  style="color:red;cursor: pointer;" ng-click="deletePackage(package.id,package)"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                </div>

            </div>

        </div>
    </div>
</div>