<div>
    <section id="package_arrival_1" >

        <h3>Vaccine Arrival</h3>

        <table cellspacing="10" class="table table-responsive" cellpadding="10">
            <tr>
                <th>#</th>
                <th>Report Date</th>
                <th>Shipment Number</th>
                <th></th>
            </tr>
            <tr ng-repeat="reports in data.reports ">
                <td>{{reports.estimate_time_of_arrival}}</td>
                <td>{{reports.awb_number}}</td>
                <td><input type="button" value="View Report" ng-click="viewReport(reports.awb_number)" /></td>
            </tr>
        </table>

        <div ng-if="message">{{message}}</div>


    </section>

</div>