<div class="app-form">

    <form name="receive_package">
        <div class='form-group'>
            <!--<h3 openlmis-message="label.stock.arrivalheader">Package Arrival</h3>-->
            <h3 >Package Arrival</h3>
            <!--SSCC-->
            <div class='form-row clearfix'>
                <div class="form-cell">
                    <label>Receiving Package With SSCC: <span style="font-weight:bolder;">{{sscc_number}}</span></label>
                </div>
            </div>

            <div class='form-row clearfix'>
                <div class="form-cell horizontalFilters">
                    <!--<label openlmis-message="label.stock.lotnumber">Scan Lot Number</label>-->
                    <label>Scan Lot Number</label>
                    <div class="form-fields">
                        <input type="text" class="form-control" ng-model="lot_number" id="lot_number_filed" >
                    </div>
                </div>
                <div class="form-cell horizontalFilters">
                    <label>&nbsp;</label>
                    <div class="form-fields">
                        <input class="btn btn-primary" type="submit" value="Scan" id="scan_lot_number_button"/>
                    </div>
                </div>
            </div>

            <div class='form-row clearfix'>
                <div ng-if="sscc_number">
                    <table class="table-bordered table table-striped ng-scope" >
                        <thead>
                        <tr class="gradient-header">
                            <th  style="text-align: center">GTN</th>
                            <th  style="text-align: center">Description</th>
                            <th  style="text-align: center">Lot</th>
                            <th  style="text-align: center">Expiry</th>
                            <th  style="text-align: center">Boxes</th>
                            <th  style="text-align: center">status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="packageDetails in singlePackage = (packagesJson | filter:{sscc:sscc_number} )"  >
                            <td>{{packageDetails.vaccine.gtin}}</td>
                            <td>{{packageDetails.vaccine.packaging}}</td>
                            <td>{{packageDetails.lot_number}}</td>
                            <td>{{packageDetails.expire_date}}</td>
                            <td>{{packageDetails.boxes}}</td>
                            <td>{{packageDetails.status}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div ></div>

            </div>



        </div>
    </form>
</div>