<div class="app-form">
    <form name="receive_package">
        <div class='form-group'>
            <h3 >Package Arrival</h3>
            <!--SSCC-->
            <div class='form-row clearfix'>
                <div class="form-cell">
                    <label>Receiving Package With SSCC: <span style="font-weight:bolder;">{{sscc_number}}</span></label>
                </div>
            </div>
            <div class='form-row clearfix'>
                <div class="form-cell">
                    <label>Scan Lot Number</label>
                    <div class="form-field">
                        <input type="text" class="form-control" ng-model="lot_number" id="lot_number_filed" >
                    </div>
                </div>
            </div>
            <div class='form-row clearfix'>
                <div class="form-cell">
                    <input class="btn btn-primary" type="submit" value="Scan" id="scan_lot_number_button"/>
                </div>
            </div>

            <div class='form-row clearfix'>
                <table class="table-bordered table table-striped ng-scope" ng-repeat="packageDetails in singlePackage = (packagesJson | filter:{ssc:sscc_number} )">
                    <thead>
                    <tr class="gradient-header">
                        <th  style="text-align: center">GTN</th>
                        <th  style="text-align: center">Description</th>
                        <th  style="text-align: center">Lot</th>
                        <th  style="text-align: center">Expiry</th>
                        <th  style="text-align: center">Boxes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subPackages in packageDetails.packages">
                        <td>{{subPackages.gtn}}</td>
                        <td>{{subPackages.description}}</td>
                        <td>{{subPackages.lot}}</td>
                        <td>{{singlePackage.expiry}}</td>
                        <td>{{subPackages.boxes}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>



        </div>
    </form>
</div>